<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student page</title>
</head>
<body>
    <h1>Student</h1> 
    <table>
        <thead>
            <tr>
                <th>Username</th>
                <th>grade</th>
                <th>age</th>
            </tr>
        </thead>
        <tbody>
            {% for user in leaderboard %}
            <tr>
                <td>{{user.username}}</td>
                <td>{{user.grade}}</td>
                <td>{{user.age}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>